@media (max-width: 992px) {

    .hero-section {
        background-image: url(/images/h.jpg);
        width: 100%;
        height: 450px;
        background-position: center;
        object-fit: cover;
        position: relative;
        background-size: cover;

    }

    .hero-section .banner-text {
        position: absolute;
        z-index: 1;
        top: 35px;
        width: 90%;
    }

    .admission-bg {
        background-image: url(/images/152.jpg);
        width: 100%;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        left: 0;
    }

    .admission-bg::before {
        content: "";
        background-color: #5c5aee85;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 349px
    }

    .about-page-section-1 .about-main-text::before {
        content: "";
        width: 100%;
        height: 46%;
        position: absolute;
        top: 78px;
        border-right: 2px dashed black;
        z-index: 0;
        bottom: 0;
        right: 93%;
    }

    .courses-page-section .tabs li {
        background: none;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        transition: 0.3s ease all;
        width: 48%;
        font-size: 15px;
    }

    #slider label {
        margin: auto;
        width: 30%;
        height: 60%;
        border-radius: 4px;
        position: absolute;
        left: 0;
        right: 0;
        cursor: pointer;
        transition: transform 0.4s ease;
    }
}

@media (max-width : 767px) {
    .hero-section {
        background-image: url(/images/h.jpg);
        width: 100%;
        height: 550px;
        background-position: center;
        object-fit: cover;
        position: relative;
        background-size: cover;

    }

    .hero-section .banner-text {
        position: absolute;
        z-index: 1;
        top: 70px;
        width: 95%;
    }

    .hero-section .banner-text .text-heading {
        font-size: 40px;
        color: #5D5AEE;
        font-weight: 700;
    }

    .hero-section .banner-text .sub-head {
        font-size: 35px;
    }

    .welcome .im img {
        width: 274px;
        height: 277px;
        object-fit: cover;
        margin-top: 40px
    }

    .welcome .im::before {
        content: "";
        top: -2px;
        left: 19px;
        border: 9px solid black;
        position: absolute;
        width: 250px;
        height: 361px;
        z-index: -1;
    }

    .admission-bg {
        background-image: url(/images/152.jpg);
        width: 100%;
        height: 420px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        left: 0;
    }

    .admission-bg::before {
        content: "";
        background-color: #5c5aee85;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 420px
    }

    .main-top-nav {
        background-color: #5D5AEE;
        display: flex;
        justify-content: space-between;
        padding: 5px 16px;
        align-items: center;
    }

    .courses-section .owl-nav button.owl-prev {
        right: 40px;
        background-color: #2C2D2F !important;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        color: white !important;
        top: -24px;
    }

    .courses-section .owl-nav button.owl-next {
        right: 0;
        background-color: #2C2D2F !important;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        color: white !important;
        top: -24px;

    }

    .courses-section .owl-nav span {
        font-size: 33px;
        position: relative;
        top: -13px;
    }

    .about-page-section-1 .about-main-text {
        background-color: #EEA47F;
        position: relative;
    }

    .about-page-section-1 .about-main-text::before {
        content: "";
        width: 100%;
        height: 52%;
        position: absolute;
        top: 78px;
        border-right: 2px dashed black;
        z-index: 0;
        bottom: 0;
        right: 86%;
    }

    .courses-page-section .tabs li {
        background: none;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        transition: 0.3s ease all;
        width: 100%;
    }

    #slider label {
        margin: auto;
        width: 27%;
        height: auto;
        border-radius: 4px;
        position: absolute;
        left: 0;
        right: 0;
        cursor: pointer;
        transition: transform 0.4s ease;
    }

    .team-member {
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.21);
        transition: transform 0.3s ease-in-out;
        width: 100%;
        height: auto;
    }

    .team-member img {
        width: 100%;
        height: 250px;
        object-fit: fill;
        margin-bottom: 20px;
        height: 192px;
    }

    #slider {
        height: 380px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    .team-member h3 {
        font-weight: 700;
        margin: 0;
        font-size: 18px;
    }
}